# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*

# folder for uploaded files
data/
1.original_image/
20k_dat/
Quantized_Model/
